.header {
  width: 100%;
  height: 60px;
  background-image: linear-gradient(103deg, #2AF598 -40%, #009EFD 140%);

  > .container {
    display: flex;
    justify-content: space-between;
    height: 100%;

    > .logo {
      max-width: 105px;
      display: flex;
      align-items: center;
    }

    > .actions {
      display: flex;
      align-items: center;

      > .action {
        width: 35px;
        height: 35px;
        background: none;
        border: none;
        padding: 0;
        margin-left: 20px;
        position: relative;
        outline: none;
        transition: opacity 0.3s ease-in-out;

        &:hover {
          opacity: 0.8;
        }

        &.-new {
          > .icon {
            width: 80%;
            height: 80%;
          }  
        }

        > .icon {
          width: 100%;
          height: 100%;
          fill: #fff;
        }
      }
    }
  }
}