<header class="header">
  <div class="container">
    <div class="logo">
      <img src="../../../../assets/images/logo.png" alt="">
    </div>
    <div class="actions">
      <button class="action -new" type="button" (click)="create()" title="Criar novo dragão">
        <svg icon type="create" class="icon"></svg>
      </button>
      <button class="action -logout" type="button" (click)="logout()">
        <svg icon type="logout" class="icon"></svg>
      </button>
    </div>
  </div>
</header>