.header {
  width: 100%;
  height: 60px;
  background-image: linear-gradient(103deg, #2AF598 -40%, #009EFD 140%);

  > .container {
    display: flex;
    justify-content: space-between;
    height: 100%;

    > .logo {
      max-width: 185px;
      display: flex;
      align-items: center;
    }

    > .actions {
      display: flex;
      align-items: center;

      > .action {
        width: 25px;
        height: 25px;
        background: none;
        border: none;
        padding: 0;
        margin-left: 32px;
        position: relative;
        outline: none;
        transition: transform 0.2s ease;

        &:hover {
          transform: scale(1.3);
        }

        &.-new {
          > .icon {
            width: 80%;
            height: 80%;
          }  
        }

        > .icon {
          width: 100%;
          height: 100%;
          fill: #fff;
        }
      }
    }
  }
}