<header class="header">
  <div class="container">
    <div class="logo">
      <img src="../../../../assets/images/logo.png" alt="">
    </div>
    <div class="actions">
      <button class="action -new" type="button" (click)="create()">
        <img src="../../../../assets/images/create.png" alt="">
      </button>
      <button class="action -logout" type="button" (click)="logout()">
          <img src="../../../../assets/images/logout.png" alt="">
      </button>
    </div>
  </div>
</header>