.dragon {
  width: 100%;
  position: relative;
  text-align: center;

  > .icon {
    position: relative;
    border-radius: 50%;
    background-color: #3B424D;

    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }
    
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: 60%;
      max-height: 60%;
      transform: translate3d(-50%, -50%, 0);
    }
  }

  > .name {
    display: inline-block;
    background: #fff;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    transform: translate3d(0, -50%, 0);
  }

  > .actions {
    width: 55px;
    height: 48px;
    position: absolute;
    right: 0;
    top: 0;

    > .action {
      position: absolute;
      width: 32px;
      height: 32px;
      border: 0;
      border-radius: 50%;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;

      > .icon {
        width: 60%;
        height: 60%;
      }

      &.-details {
        bottom: 0;
        right: 0;
        background: #FFEA9E;
        z-index: 2;

        > .icon {
          fill: #838383;
        }
      }

      &.-config {
        top: 0;
        left: 0;
        background: #10BFD6;
        z-index: 1;

        > .icon {
          fill: #fff;
          width: 50%;
          height: 50%;
        }
      }
    }
  }
}