@font-face {
  font-family: 'SF Pro Display';
  font-weight: normal;
  src: url('../fonts/SF-Pro-Display-Regular.otf')  format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 500;
  src: url('../fonts/SF-Pro-Display-Medium.otf')  format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 600;
  src: url('../fonts/SF-Pro-Display-Semibold.otf')  format('opentype');
}

@font-face {
  font-family: 'SF Pro Text';
  font-weight: 500;
  src: url('../fonts/SF-Pro-Text-Medium.otf')  format('opentype');
}

@font-face {
  font-family: 'SF Pro Text';
  font-weight: 700;
  src: url('../fonts/SF-Pro-Text-Bold.otf')  format('opentype');
}