<div class="dragons-timeline">
  <app-header (onCreate)="newDragon()"></app-header>

  <div class="container">
    <div class="header">
      <h1 class="title">Dragões Cadastrados</h1>
      <div class="counter">110</div>
    </div>

    <ul class="list">
      <li class="item">
        <app-dragon [dragon]="dragon" (onView)="view()" (onEdit)="edit()"></app-dragon>
      </li>
      <li class="item">
        <app-dragon [dragon]="dragon" (onView)="view()" (onEdit)="edit()"></app-dragon>
      </li>
      <li class="item">
        <app-dragon [dragon]="dragon" (onView)="view()" (onEdit)="edit()"></app-dragon>
      </li>
      <li class="item">
        <app-dragon [dragon]="dragon" (onView)="view()" (onEdit)="edit()"></app-dragon>
      </li>
      <li class="item">
        <app-dragon [dragon]="dragon" (onView)="view()" (onEdit)="edit()"></app-dragon>
      </li>
      <li class="item">
        <app-dragon [dragon]="dragon" (onView)="view()" (onEdit)="edit()"></app-dragon>
      </li>
    </ul>
  </div>
</div>