<div class="dragons-timeline">
  <app-header (onCreate)="newDragon()"></app-header>

  <div class="container">
    <div class="header">
      <h1 class="title">Dragões Cadastrados</h1>
      <div class="counter">{{dragons.length}}</div>
    </div> 

    <ul class="list">
      <li class="item" *ngFor="let dragon of dragons | orderBy: 'name' : caseInsensitive: true">
        <app-dragon [dragon]="dragon" (onView)="view($event)" (onEdit)="edit($event)"></app-dragon>
      </li>
    </ul>
  </div>
</div>