

.dragons-timeline {
  background: #222731;
  min-height: 100vh;

  > .container {
    margin-top: 4rem;

    > .header {
      border-bottom: solid 1px #546174;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 10px;

      > .title {
        font-family: 'SF Pro Display', sans-serif;
        font-weight: 500;
        color: #FFFFFF;
        font-size: 2rem;
      }

      > .counter {
        border: solid 1px #12B6CC;
        padding: 6px 15px;
        border-radius: 50px;
        color: #FFFFFF;
        font-size: 1.2rem;
      }
    }
  }
}