<div class="login-page">
  <div class="dragon"></div>
  <div class="login-container">
    <div class="intro">
      <img class="mascot" src="../../../../../assets/images/dragon-level-2.png" >
      <h1 class="title">Junte-se à nossa comunidade!</h1>
      <div class="signup">Ainda não tem uma conta? <span>Cadastre-se</span></div>
    </div>

    <form class="form" #login="ngForm" (ngSubmit)="submit(login)">
      <div class="messages -error" *ngIf="hasError">{{ errorMessage }}</div>
      
      <div class="form-field">
        <label class="label" for="email">Email</label>
        <p class="control">
          <input type="text" class="input" name="email" id="email" required ngModel>
        </p>
      </div>
      <div class="form-field">
        <label class="label" for="password">Senha</label>
        <p class="control">
          <input type="password" class="input" name="password" id="password" required ngModel>
        </p>
      </div>
      <button class="dragon-button" type="submit" [disabled]="login.invalid">Entrar</button>
    </form>
  </div>
</div>