.modal  {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 40;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  > .background {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(10,10,10,.86);
    z-index: 1;
  }

  > .content {
    overflow-y: scroll;
    z-index: 2;
    position: relative;

    > .card {
      margin: 0 auto;
      min-width: 430px;
      width: 33.75%;
      position: relative;
      background-color: #fff;
      border-radius: 20px;
      box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
      display: block;
      padding: 1.5rem 2rem;
      overflow: hidden;
  
      @media (max-width: 470px) {
        width: calc(100% - 40px);
        min-width: inherit;
      }
  
      > .title {
        font-family: 'SF Pro Text', sans-serif;
        font-size: 1.2rem;
        font-weight: 500;
        padding-bottom: 0.2rem;
        border-bottom: solid 1px #d5d5d5;
        margin-right: 2rem;
      }    
      
      > .close {
        width: 28px;
        height: 28px;
        border: solid 2px #11C0D6;
        border-radius: 50%;
        background: none;
        outline: 0;
        position: absolute;
        top: 1rem;
        right: 1rem;
        transition: background .3s ease;
  
        &:hover {
          background: #11C0D6;
  
          &::before,
          &::after {
            background: #fff;
          }
        }
  
        &::before,
        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 50%;
          height: 3px;
          border-radius: 2px;
          background: #37d7c9;
          transition: background .3s ease;
        }
  
        &::before {
          transform: translate3d(-50%, -50%, 0) rotate(45deg);
        }
  
        &::after {
          transform: translate3d(-50%, -50%, 0) rotate(-45deg);
        }
      }
    }
  }

}