.form-field {
  margin-bottom: 1rem;

  > .label {
    color: #999999;
    display: block;
    margin-bottom: 0.5rem;
  }

  > .control {
    > .input {
      background: #FCFCFC;
      border: solid 1px rgba(149, 152, 154, 0.3);
      height: 40px;
      border-radius: 5px;
      width: 100%;
      outline: none;
      padding: 0 20px;
      font-size: 1rem;
      line-height: 1;
      color: #222731;

      &:focus {
        border: solid 1px rgba(149, 152, 154, 0.6);
      }
    }
  }
}