<app-modal (onClose)="back()" [title]="'Dados do dragão'">
  <app-loading *ngIf="isLoading"></app-loading>
  <div class="view" *ngIf="!isLoading">
    <div class="scenario">
      <img class="habitat" src="../../../../../assets/images/habitat.png">
      <img class="dragon" src="../../../../../assets/images/dragon-{{ level }}.png">
    </div>
    <div class="info">
      <div class="name">{{ dragon.name }}</div>
      <div class="data">
        <div class="label">Tipo do Dragão</div>
        {{ dragon.type }}
      </div>
      <div class="data">
        <div class="label">Data de cadastro</div>
        {{ dragon.created_at | date:'dd/MM/yyyy'}}
      </div>
    </div>
  </div>
</app-modal>