<app-modal (onClose)="back()" [title]="'Dados do dragão'">
  <app-loading *ngIf="isLoading"></app-loading>
  <div class="view" *ngIf="!isLoading">
    <dragon-scenario [createdAt]="dragon.created_at"></dragon-scenario>
    <div class="info">
      <div class="name">{{ dragon.name }}</div>
      <div class="data">
        <div class="label">Tipo do Dragão</div>
        {{ dragon.type }}
      </div>
      <div class="data">
        <div class="label">Data de cadastro</div>
        {{ dragon.created_at | date:'dd/MM/yyyy'}}
      </div>
    </div>
  </div>
</app-modal>