.delete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 1rem;

  @media (max-width: 450px) {
    padding: 2rem 0 1rem;
  }

  > .icon {
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
  }

  > .description {
    font-family: 'SF Pro Text', sans-serif;
    font-size: 1.5rem;    
    font-weight: 500;
    text-align: center;

    > .highlight {
      font-weight: 700;
      color: #37d6bd;
    }
  }

  > .actions {
    margin-top: 2rem;

    > .dragon-button {
      margin-bottom: 1rem;
    }
  }
}