.scenario {
  position: relative;

  > .habitat{
    width: 100%;
  }

  > .dragon {
    position: absolute;
    width: 60px;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -100%, 0);
  }
}